# These owners will be the default owners for everything inthe repo.
# The pattern is followed by one or more GitHub usernames or team names using the standard @username or @org/team-name
*                            @arkemishub/backend-experts
